.css-lfwcke-MuiTabs-flexContainer .Mui-selected {
    color: white !important;
}
.css-oo5iav-MuiTabs-indicator{
  position: absolute;
    height: 100%;
    bottom: 0;
    width: 0px !important;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #5D87FF;
    right: 0;
}
.gradient-background {
  background: linear-gradient(to right, #FF3A3A, #EDFC6D, #5BD54F, #2889DA);
  /* Ajoutez d'autres styles si nécessaire */
  /* width: 100%;
  height: 100vh; */
}
.css-1nd4j3s-MuiTreeItem-content {
  height: 55px;
}

.css-g0jugy-MuiCollapse-root-MuiTreeItem-group {
  margin-left: 0px !important;
}
.css-e8kpoj-MuiTableCell-root {
  padding: 0px !important;
}
.MuiTableCell-root .MuiTableCell-body{
  padding: 0px !important;
}
.css-q4qtnq-MuiTableCell-root {
  padding: 0px !important;
}