.css-19kzrtu {
    padding: 0px !important;
}
.css-q0b3gy-MuiTableCell-root {
    border-bottom: 1px solid rgb(195, 195, 195) !important;
}
.css-e8kpoj-MuiTableCell-root{
    border-bottom: 1px solid rgb(195, 195, 195) !important;
}
.css-1iylecs-MuiTableCell-root{
    border-bottom: 1px solid rgb(195, 195, 195) !important;
}
.css-13rb3il-MuiTableCell-root{
    border-bottom: 1px solid rgb(195, 195, 195) !important;
}