body {
    font-family: Inter, Helvetica, sans-serif;
  }
  .grid-left,
  .grid-right {
    height: 100vh;
  }
  
  .grid-left {
    background-color: #ffffff;
    padding-top: 120px;
  }
  
  .grid-right {
    background-color: #002fbd;
    padding-top: 280px;
  }
  
  .centered-container {
    height: 100vh; /* Utiliser toute la hauteur de la fenêtre */
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
  }
  
  .centered-item {
    text-align: center; /* Centrer le texte à l'intérieur des éléments */
  }
  .logo-1 {
    margin-bottom: 20px !important;
    width: 140px;
  }
  .logo-2 {
    margin-bottom: 12px !important;
    width: 140px;
  }
  .titre-1 {
    font-size: 23px;
    color: #565674;
    text-align: center;
    font-weight: 700;
  }
  .text-gray {
    font-size: 14px;
    color: #565674;
    text-align: center;
    font-weight: 500;
  }
  .separator-content {
    display: flex;
  align-items: center;
  justify-content: center; /* Ajout de cette ligne pour centrer horizontalement */
  border-bottom: 0;
  text-align: center;
  }
  .text{
    color: #8b8b96;
    font-size: 15px !important;
    font-weight: 500px !important;
    margin-left: 15px;
    margin-right: 15px;
  }
  .separator.separator-content::after,
  .separator.separator-content::before {
    content: " ";
    width: 155px;
    border-bottom: 1px solid #cccccc;
  }
  .my-14 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  .titre-2 {
    padding-top: 20px;
    font-size: 29px;
    color: white;
    text-align: center;
    font-weight: 700;
  }
  .button-submit {
    padding: 14px 25px;
    background-color: #0095e8;
    font-size: 14px;
    color: white;
    text-align: center;
    font-weight: 500;
    width: 100%;
    border: none;
  }
  .form {
    width: 450px;
    margin: auto;
  }
  .form-control {
    display: block;
    width: 100%;
    padding: 0.775rem 1rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    background-color: transparent;
    margin-bottom: 32px;
  }
  .form-control::placeholder {
    color: #92929f;
  }
  .message{
    font-size: 14px;
    color: red;
    text-align: center;
    font-weight: 500;
  }