.td_leads{
    padding: 16px !important;
    border-bottom: 0px;
  }
  .custom-header {
    background-color: #67B7DC; /* Ajoutez ici la couleur de fond souhaitée pour les en-têtes */
    color: white; /* Couleur du texte */
  }
  .custom-header2 {
    background-color: #626DD2; /* Ajoutez ici la couleur de fond souhaitée pour les en-têtes */
    color: white; /* Couleur du texte */
  }
  .custom-header3 {
    background-color: #A367DC; /* Ajoutez ici la couleur de fond souhaitée pour les en-têtes */
    color: white; /* Couleur du texte */
  }
  .custom-header4 {
    background-color: #DC67AB; /* Ajoutez ici la couleur de fond souhaitée pour les en-têtes */
    color: white; /* Couleur du texte */
  }
  