.form-control {
  display: block;
    width: 145px;
    padding: 0.775rem 1rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    background-color: transparent;
    margin-top: 8px;
    margin-bottom: 15px;
  }
 