.css-13xfq8m-MuiTabPanel-root{
    padding: 0px  !important;
  }
  .tableRowOpen {
    background-color: #D4420042; /* Choisissez la couleur bleue que vous préférez */
    color: white; /* Pour assurer que le texte est lisible sur le fond bleu */
  }
  .tableRowOpen2 {
    background-color: #168BC41F; /* Choisissez la couleur bleue que vous préférez */
    color: white; /* Pour assurer que le texte est lisible sur le fond bleu */
  }
  .css-e8kpoj-MuiTableCell-root{
    padding: 0px  !important;
  }