.css-13xfq8m-MuiTabPanel-root{
    padding: 0px  !important;
  }
  .tableRowOpen {
    background-color: #D4420042 !important; /* Choisissez la couleur bleue que vous préférez */
    color: white !important; /* Pour assurer que le texte est lisible sur le fond bleu */
  }
  .tableRowOpen2 {
    background-color: #168BC41F !important; /* Choisissez la couleur bleue que vous préférez */
    color: white !important; /* Pour assurer que le texte est lisible sur le fond bleu */
  }
  .tableRowOpen3 {
    background-color: #F8E4C6  !important; /* Choisissez la couleur bleue que vous préférez */
    color: white !important; /* Pour assurer que le texte est lisible sur le fond bleu */
  }
  .css-e8kpoj-MuiTableCell-root{
    padding: 0px  !important;
  }
  .tab-button{
    border-bottom: 0px solid rgb(195, 195, 195) !important;
  }
  .css-q4qtnq-MuiTableCell-root {
    padding: 14px !important;
  }
  .badge{
    display: inline-block !important;
    padding: .25em .4em !important;
    font-size: 78% !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: .25rem !important;
    color: #50cd89 !important;
    background-color: #e8fff3 !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}